@import '/src/styles/variables.scss';

.navbar-vertical {
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  display: flex;
  left: 0;
  width: 250px; // Ancho del sidebar
  height: 100%;
  background: map-get($colors, primary-dark);
  margin-top: -12px;
  padding-top: 12px;
  transition: transform 0.3s;
  transform: translateX(-100%); // Inicia fuera de la pantalla
  z-index: 1000; // Asegúrate de que esté sobre otros elementos

  &.active {
    transform: translateX(0); // Mueve el sidebar a la vista
  }

  .toggle-btn {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: 0;

    &:focus {
      outline: none;
    }

  }

  .nav-item {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: larger;

    &:hover {
      background: darken(#333, 10%);
    }
  }
  .sing-out{
    margin-top: auto;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: larger;

    &:hover {
      background: darken(#333, 10%);
    }
  }
}

@media (max-width: 768px) {
  // En pantallas más pequeñas, cada elemento de la cuadrícula toma el ancho completo
  .grid-container .grid-item {
    flex-basis: 100%;
  }
}
