<aside class="navbar-vertical" [class.active]="isSidebarActive">

  <button (click)="toggleSidebar()" class="toggle-btn">
    <i>
      <img src="../../../../../assets/icons/caret-right.svg" alt="">
    </i>
  </button>

  <nav>
    <a href="home" class="nav-item">
      <img src="../../../../../assets/icons/graph-up.svg" alt="">
      </a>

    <a href="#" class="nav-item">
      <img src="../../../../../assets/icons/clock-history.svg" alt="">
      </a>

    <a href="new-transaction" class="nav-item">
      <img src="../../../../../assets/icons/wallet.svg" alt="">
      </a>

    <a href="new-credit-card" class="nav-item">
      <img src="../../../../../assets/icons/credit-card.svg" alt="">
      </a>

  </nav>
  <a href="auth/login" class="sing-out" (click)="onSignOut()">
    <img src="../../../../../assets/icons/box-arrow-left.svg" alt="">
  </a>
</aside>

