@import '/src/styles/variables.scss';


.icon-pco{
  color: aqua;
}

.grid-item {
  max-width: 300px;
  min-height: 150px;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  color: map-get($colors, text-primary);
  font-size: larger;
  margin-bottom: 2rem;


  &.h1{
    align-items: center;
    justify-content: center;
  }
  .item-overview{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .value{
    margin: 0;
    margin-left: 10%;
  }
}

