<app-sidebar
(sidebarToggle)="handleSidebarToggle($event)">
</app-sidebar>

<div class="main-content" [class.active]="!isSidebarActive">
  <div class="grid-container">

    <div class="grid-item">
      <label for="progressBar">Progress with {{creditCard.name}}</label>
      <progress id="progressBar" [value]="progressBarValue" max="100"></progress>
      <span>{{ progressBarValue }}%</span>
    </div>

    <div class="grid-item">Puntos Colombia:
      <h1>{{ puntosColombia | number:'1.0-0' }}</h1>
    </div>

    <div class="grid-item">
      <h3>Calendario de Pagos - {{ currentMonth | date: 'MMMM y' }}</h3>
      <div class="calendar">
        <div class="day" *ngFor="let day of weekDays">{{ day }}</div>
          <div class="day" *ngFor="let day of daysInMonth" [ngStyle]="{'background-color': day.backgroundColor}">
            {{ day.date | date: 'dd' }}
          </div>
      </div>
    </div>

    <div class="grid-item"> Losses with jineteos:
      <h1>{{totalLosses | number: '1.0-0' }}</h1>
    </div>
    <div class="grid-item full-width">
    </div>
  </div>
</div>

