<app-sidebar
(sidebarToggle)="handleSidebarToggle($event)">
</app-sidebar>

<app-modal [message]="message"
[img]="icon"
*ngIf="showModal"
(closeEvent)="showModal = false"></app-modal>

<div class="main-content" [class.active]="!isSidebarActive">



<div class="accordion-container">
  <div [class.open]="activeAccordion === 'form1'" class="accordion-item">
    <button (click)="toggleAccordion('form1')" class="accordion-header">Jineteo Transaction</button>
    <div class="accordion-content" *ngIf="activeAccordion === 'form1'">
      <div class="acordion-form">
        <form #jinenteoTransaction = "ngForm">
          <label for="amount"
          class="label-input">Amount</label>
          <div style="margin-top: 3px;"></div>
          <div class="amount-suggestions">
            <span class="badge" (click)="fillAmount(2000000)">2,000,000</span>
            <span class="badge" (click)="fillAmount(1700000)">1,700,000</span>
            <span class="badge" (click)="fillAmount(1000000)">1,000,000</span>
          </div>
          <input type="number"
          class="input"
          name="amount"
          required="true"
          placeholder="Amount of transaction"
          [(ngModel)]="jineteo.amount">

          <label for="misses"
          class="label-input">Any losses jineteando?</label>
          <div style="margin-top: 3px;"></div>
          <div class="amount-suggestions">
            <span class="badge" (click)="fillLosses(30000)">30,000</span>
            <span class="badge" (click)="fillLosses(60000)">60,000</span>
            <span class="badge" (click)="fillLosses(90000)">90,000</span>
          </div>
          <input type="number"
          class="input"
          name="misses"
          required="true"
          placeholder="Amont of misses"
          [(ngModel)]="jineteo.losses">

          <label for="selectorCreditCard" class="label-input">Credit card you want to jinetear</label>
          <div style="margin-top: 3px;"></div>

          <select id="selectorCreditCard" class="selector" [(ngModel)]="jineteo.creditCardId" name="selectorCreditCard">
            <option *ngFor="let card of creditCardList" [value]="card.id">{{ card.name }}</option>
          </select>

          <label for="selectorJineteoType" class="label-input">What kind of jineteo did you use?</label>
          <div style="margin-top: 3px;"></div>

          <select id="selectorJineteoType" class="selector" [(ngModel)]="jineteo.typeOfJineteoId" name="selectorJineteoType">
            <option *ngFor="let jineteo of jineteoTypesList" [value]="jineteo.id">{{ jineteo.description }}</option>
          </select>

          <label for="observation"
          class="label-input">Observation</label>
          <div style="margin-top: 3px;"></div>

          <input type="text"
          class="input"
          name="observation"
          required="false"
          placeholder="Any observation about transaction"
          [(ngModel)]="jineteo.observation">

          <label for="date"
          class="label-input">Date</label>
          <div style="margin-top: 3px;"></div>

          <input type="date"
          class="input"
          name="date"
          required="true"
          placeholder="Date of transaction"
          [(ngModel)]="jineteo.date">

          <div class="loader-container">
            <app-loader [isLoading]="isLoading"></app-loader>
          </div>

          <button
          class="submit-button"
          type="submit"
          [hidden]="isLoading"
          [disabled] = "jinenteoTransaction.invalid"
          (submit)="jineteo"
          [ngClass]="{
            'invalid':jinenteoTransaction.invalid
          }"
          (click)="sendNewTransaction(jineteo)">
          Put a Jineteo!</button>



        </form>
      </div>
    </div>
  </div>

  <div [class.open]="activeAccordion === 'form2'" class="accordion-item">
    <button (click)="toggleAccordion('form2')" class="accordion-header">Capital Payment</button>
    <div class="accordion-content" *ngIf="activeAccordion === 'form2'">

      <div class="acordion-form">
        <form #paymentTransaction = "ngForm">
          <label for="amount"
          class="label-input">Amount</label>
          <div style="margin-top: 3px;"></div>

          <input type="number"
          class="input"
          name="amount"
          required="true"
          placeholder="Amount of transaction"
          [(ngModel)]="payment.amount">

          <label for="selectorCreditCard" class="label-input">Credit card you want to pay</label>
          <div style="margin-top: 3px;"></div>

          <select id="selectorCreditCard" class="selector" [(ngModel)]="payment.creditCardId" name="selectorCreditCard">
            <option *ngFor="let card of creditCardList" [value]="card.id">{{ card.name }}</option>
          </select>


          <label for="observation"
          class="label-input">Observation</label>
          <div style="margin-top: 3px;"></div>

          <input type="text"
          class="input"
          name="observation"
          required="false"
          placeholder="Any observation about transaction"
          [(ngModel)]="payment.observation">

          <label for="date"
          class="label-input">Date</label>
          <div style="margin-top: 3px;"></div>

          <input type="date"
          class="input"
          name="date"
          required="true"
          placeholder="Date of transaction"
          [(ngModel)]="payment.date">

          <button
          class="submit-button"
          type="submit"
          [hidden]="isLoading"
          [disabled] = "paymentTransaction.invalid"
          (submit)="payment"
          [ngClass]="{
            'invalid':paymentTransaction.invalid
          }"
          (click)="sendNewTransaction(payment)">
          Put a payment!</button>

        </form>
      </div>
    </div>
  </div>
</div>
</div>




