@import '/src/styles/variables.scss';

.main-content {
  padding: 2rem;
  transition: margin-left 0.8s;
  margin-left: 80px; // Tamaño del sidebar abierto

  &.active {
    margin-left: 0; // Tamaño del sidebar cerrado
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; // Espacio entre los elementos de la cuadrícula

    .grid-item {
      flex: 1 1 45%;
      min-width: 300px;
      border-radius: 8px;
      border: 2px;
      border-color: #fff;
      border-style: groove;
      padding: 1rem;
      height: 150px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: larger;

      &:not(:last-child) {
        margin-bottom: 2rem; // Agrega espacio debajo si no es el último elemento
      }

      // Clase para que el gráfico de tarta tome el ancho completo en una fila
      &.full-width {
        flex-basis: 100%;
      }
    }
  }
}

.accordion-container {
  display: flex;
  width: 100%;
  align-items: flex-start;

  .accordion-item {
    flex-grow: 1;
    margin-right: 20px;
    color: #fff;
    transition: 0.8s;
    &.open {
      flex-grow: 4;
    }

    .accordion-header {
      width: 100%;
      background-color: map-get($map: $colors, $key: primary-dark);
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      text-align: center;
      outline: none;
      cursor: pointer;
      transition: background-color 0.8s;
      font-size: larger;

      &:hover {
        background-color: map-get($map: $colors, $key: primary);
      }
    }

    .accordion-content {
      width: 100%;
      border-radius: 8px;
      margin-top: 5%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: map-get($map: $colors, $key: text-primary);
      .amount-suggestions {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 10px;

        .badge {
          padding: 5px 15px;
          background-color: map-get($colors, accent-primary); // Use your primary color
          color: #fff;
          border-radius: 20px;
          cursor: pointer;
          font-size: large;
          box-shadow: 0 2px 4px rgba(0,0,0,0.2);

          &:hover {
            background-color: darken(map-get($colors, accent-primary), 5%);
          }
        }
      }

      .acordion-form{
        padding: 2%;
        .input{
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border-style: solid;
          border-radius: 5px;
          border-width: 1px;
          border-color: map-get($map: $colors, $key: text-secondary);
          background-color: map-get($map: $colors, $key: secondary);
          color: map-get($map: $colors, $key: text-primary);
          box-sizing: border-box;
          font-size: 13px;

          &.invalid{
            border: 2px solid #F44336;
          }


        }
        .selector{
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border-style: solid;
          border-radius: 5px;
          border-width: 1px;
          border-color: map-get($map: $colors, $key: text-secondary);
          background-color: map-get($map: $colors, $key: secondary);
          color: map-get($map: $colors, $key: text-primary);
          box-sizing: border-box;
          font-size: 13px;
          appearance: none;

          &:focus {
            outline: none; // Remueve el outline al hacer focus
            border-color: map-get($map: $colors, $key: text-secondary);
          }
        }
        .label-input{
          font-size: larger;
        }
      }
    }
  }

  .accordion-item:first-child {
    margin-left: 0;
  }
  .accordion-item:last-child {
    margin-right: 0;
  }
}

.submit-button{
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #575f6f; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  cursor: pointer;

  &.invalid{
    background-color: #464c5c;
  }
}
.submit-button:hover {
  background-color: map-get($map: $colors, $key: accent-secondary);
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .accordion-container {
    flex-direction: column;
    width: 100%;

    .accordion-item {
      margin: 10px 0;
      width: 100%;
    }
  }
}


