
.main-content {
  padding: 2rem;
  transition: margin-left 0.8s;
  margin-left: 250px; // Tamaño del sidebar abierto

  &.active {
    margin-left: 0; // Tamaño del sidebar cerrado
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; // Espacio entre los elementos de la cuadrícula

    .grid-item {
      flex: 1 1 45%;
      min-width: 300px;
      border-radius: 8px;
      border: 2px;
      border-color: #fff;
      border-style: groove;
      padding: 1rem;
      height: 150px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: larger;

      &:not(:last-child) {
        margin-bottom: 2rem; // Agrega espacio debajo si no es el último elemento
      }

      // Clase para que el gráfico de tarta tome el ancho completo en una fila
      &.full-width {
        flex-basis: 100%;
      }
    }
  }
}

.accordion-container {
  display: flex;
  width: 100%;
  align-items: flex-start;

  .accordion-item {
    flex-grow: 1;
    margin-right: 20px;
    color: #fff;
    transition: 0.8s;
    &.open {
      flex-grow: 4;
    }

    .accordion-header {
      width: 100%;
      background-color: #575f6f;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      text-align: center;
      outline: none;
      cursor: pointer;
      transition: background-color 0.8s;
      font-size: larger;

      &:hover {
        background-color: #464c5c;
      }
    }

    .accordion-content {
      width: 100%;
      border-radius: 8px;
      margin-top: 5%;
      border-color: #fff;
      background-color: #232a3a;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #fff;

      .acordion-form{
        padding: 2%;
        .input{
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 5px;
          background-color: #2f3b4c;
          color: #fff;
          box-sizing: border-box;
          font-size: 13px;

          &.invalid{
            border: 2px solid #F44336;
          }
        }
      }

    }
  }

  .accordion-item:first-child {
    margin-left: 0;
  }
  .accordion-item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .accordion-container {
    flex-direction: column;
    width: 100%;

    .accordion-item {
      margin: 10px 0;
      width: 100%;
    }
  }
}


