<body class="body">

  <form class="login-box"
    #loginForm = "ngForm">

    <h1 style="margin-top:  0px;">Login</h1>

    <label for="email"
    class="error-message"
    [hidden]="validEmail">Please validate your email</label>
    <label for="email"
    class="error-message"
    [hidden]="userFound">This user dosen't exist</label>

    <label for="email"
    class="label-input"
    [hidden]="!validEmail || !userFound">Email</label>
    <div style="margin-top: 3px;"></div>

    <input class="input"
    name="email"
    required="true"
    type="email"
    placeholder="Enter your email"
    [(ngModel)]="login.email"
    [ngClass]="{
      'invalid':!validEmail
    }">

    <label for="email"
    class="error-message"
    [hidden]="validPwd">Please validate your password</label>

    <label for="email"
    class="error-message"
    [hidden]="correctPwd">Wrong password</label>

    <label for="email"
    class="label-input"
    [hidden]="!validPwd || !correctPwd">Password</label>
    <div style="margin-top: 3px;"></div>


    <input class="input"
    name="pwd"
    required="true"
    type="password"
    placeholder="Enter your password"
    [(ngModel)]="login.password"
    >
    <div class="loader-container">
      <app-loader [isLoading]="isLoading"></app-loader>
    </div>
    <button
    class="submit-button"
    type="submit"
    [hidden]="isLoading"
    [disabled] = "loginForm.invalid"
    (submit)="login"
    [ngClass]="{
      'invalid':loginForm.invalid
    }"
    (click)="onLogin()">
    Go!</button>
  </form>

</body>



