@import '/src/styles/variables.scss';

.grid-item {
  max-width: 300px;
  min-height: 150px;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: map-get($colors, text-primary);
  font-size: larger;
  margin-bottom: 2rem;


  &.h1{
    align-items: center;
    justify-content: center;
  }
}

