@import '/src/styles/variables.scss';

.body {
  background-color: map-get($colors, secondary);
  font-family: 'Inconsolata', monospace;
  margin-top: 0;
  padding-top: 0;
}/* You can add global styles to this file, and also import other style files */
