@import '/src/styles/variables.scss';


.body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-box {
  width: 550px;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: map-get($map: $colors, $key: text-primary);
}

.input{
  width: 100%;
  padding: 10px;
  border-style: solid;

  margin-bottom: 10px;
  border-radius: 5px;
  border-color: map-get($map: $colors, $key: text-secondary);
  background-color: map-get($map: $colors, $key: secondary);
  color: map-get($map: $colors, $key: text-primary);
  box-sizing: border-box;
  font-size: 13px;

  &.invalid{
    border: 2px solid #F44336;
  }
}

.label-input{
  font-size: large;
}


.submit-button{
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #575f6f;
  color: #ffffff;
  cursor: pointer;

  &.invalid{
    background-color: #464c5c;
  }
}
.submit-button:hover {
  background-color: map-get($map: $colors, $key: accent-secondary);
}

.error-message{
  color: #F44336;
  font-size: 12px;

}

.login-link{
  color: map-get($map: $colors, $key: text-primary);
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
